.card {
  text-align: center;
  width: 100%;
  min-width: 100px;
  max-width: 400px;
  overflow: hidden;
  margin-bottom: 5em;
  margin-top: 7.5em;
  flex: 1 0 auto;
  padding: 10px;
}

.card__img {
  width: 100%;
  border-radius: 200px;
  max-width: 300px;
  text-align: center;
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__heading {
  width: 100%;
  font-size: 1.5em;
  font-style: italic;
  padding-bottom: 1.25em;
}

.card__heading2 {
  width: 100%;
  font-size: 1.5em;
  font-style: italic;
  padding-bottom: 1.25em;
  margin-top: 0.75em;
}

.card__heading3 {
  width: 100%;
  font-size: 1.5em;
  font-style: italic;
  padding-bottom: 1em;
  margin-top: 0.75em;
}

.card__nafn {
  width: 100%;
  font-weight: bold;
}

.card__nafn2,
.card__nafn3 {
  width: 100%;
  font-weight: bold;
  margin-top: 1em;
}

.card__askr {
  width: 100%;
}
@media (max-width: 600px) {
  .card {
    margin-top: 3.75em;
  }

  .card__heading2,
  .card__heading3 {
    margin-top: 1.5em;
  }

  .card__nafn2 {
    margin-top: 2.2em;
  }

  .card__nafn3 {
    margin-top: 0;
  }
}
@media (max-width: 400px) {
  .card {
    margin-top: 2.5em;
  }

  .card__nafn2 {
    margin-top: 0;
  }
}
