.card {
  text-align: center;
  width: 100%;
  min-width: 100px;
  max-width: 400px;
  overflow: hidden;
  padding-bottom: 5em;
  margin-top: 7.5em;
  flex: 1 0 auto;
  padding: 10px;

@media (max-width: 600px) {
  .card {
    margin-top: 3.75em;
  } }
@media (max-width: 400px) {
  .card {
    margin-top: 2.5em;
  } }
  &__img {
    width: 100%;
    border-radius: 200px;
    max-width: 300px;
    text-align: center;
}
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__heading {
    width: 100%;
    font-size: 1.5em;
    font-style: italic;
    padding-bottom: 1.25em;
  }
  &__heading2 {
    width: 100%;
    font-size: 1.5em;
    font-style: italic;
    padding-bottom: 1.25em;
    margin-top: 0.75em;
  }
  @media (max-width: 600px) {
    &__heading2 {
      margin-top: 1.5em;
  } }
  &__heading3 {
    width: 100%;
    font-size: 1.5em;
    font-style: italic;
    padding-bottom: 1em;
    margin-top: 0.75em;
  }
  @media (max-width: 600px) {
    &__heading3 {
      margin-top: 1.5em;
  } }
  &__nafn {
    width: 100%;
    font-weight: bold;
  }
  &__nafn2 {
    width: 100%;
    font-weight: bold;
    margin-top: 1em;
  }
  @media (max-width: 600px) {
    &__nafn2 {
      margin-top: 2.2em;
  } }
  @media (max-width: 400px) {
    &__nafn2 {
      margin-top: 0em;
  } }
  &__nafn3 {
    width: 100%;
    font-weight: bold;
    margin-top: 1em;
  }
  @media (max-width: 600px) {
    &__nafn3 {
    margin-top: 0em;
  } }
  &__askr {
    width: 100%;
  }
}
