
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -($gutter / 2);
  margin-bottom: $gutter;
  margin-left: -($gutter / 2);
}

// mixin sem reiknar nákvæmar prósentur útfrá dálkum
@mixin columns($col: 1) {
  // margföldum með "1%" til að breyta gildi í prósentu gildi
  width: ($col / 12 * 100) * 1%;
}

.col {
  padding-right: $gutter / 2;
  padding-left: $gutter / 2;


  &-12 {
    @include columns(12);
  }

  &-6left {
    @include columns(6);
  }

  &-6right {
    @include columns(6);
  }

  &-4 {
    @include columns(4);
  }

  &-4text {
    @include columns(4);
  }

<<<<<<< HEAD
  &-sm {
    @media (max-width: 600px) {
=======
/*  &-sm {
    @media (max-width: 599px) {
>>>>>>> a6b1b70d51ce0dc560ea2d2fc6cbc79df1cdf7f1
      &-12 {
        @include columns(12);
      }

<<<<<<< HEAD
      &-6left {
        @include columns(6);
      }

      &-6right {
        @include columns(6);
      }

      &-5 {
        @include columns(5);
      }

      &-4 {
        @include columns(4);
      }

      &-4text {
        @include columns(4);
      }
      @media (max-width: 400px) {
        &-12 {
          @include columns(12);
        }
    }
  }
=======
      &-6 {
        @include columns(6);
      }

      &-3 {
        @include columns(3);
      }
    }
  }*/
>>>>>>> a6b1b70d51ce0dc560ea2d2fc6cbc79df1cdf7f1
}

.offset {
  &-2 {
    margin-left: (2 / 12 * 100) * 1%; // reiknað einsog að ofan
  }

<<<<<<< HEAD
  &-sm {
=======
/*  &-sm {
>>>>>>> a6b1b70d51ce0dc560ea2d2fc6cbc79df1cdf7f1
    @media (max-width: 599px) {
      &-0 {
        margin-left: 0;
      }
    }
<<<<<<< HEAD
  }
=======
  }*/
>>>>>>> a6b1b70d51ce0dc560ea2d2fc6cbc79df1cdf7f1
}
