.profiles {}

.profiles__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.profiles__col {
  position: relative;
  display: flex;
  width: 33.33333%;
  padding: 0;
}

@media (max-width: 600px) {
  .profiles__col {
    width: 50%;
  }
}

@media (max-width: 400px) {
  .profiles__col {
    width: 100%;
  }
}
